html{
    line-height: 1.15;
    width: fit-content;
}
title{
    position:sticky;
}
tbody{
    position: relative;
    right: 100px;
    bottom: 0px;
}
body{
    background-color:darkblue;
    color: aquamarine;
    flex: auto;
}
input{
    background-color: darkcyan;
    position:relative;
    left: 600px;
    top: 90px;
    box-sizing: 20px;
}

li{
    font-size: larger;
    color:lemonchiffon
}
h1 {
    font-size: larger;
}

ul {
    position: fixed;
    bottom: 50px;
}
button{
    
    position: relative;
    left: 600px;
    top: 90px;
}
footer{
    justify-content:right;
}

